body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: block;
    position: relative;
    background-image: url('src/bg.png');
    background-size: cover;
}

#root{
    display: flex;
}

#wrapper{
    width: 100%;
    margin: auto;
    /*border: 1px solid #520599;*/
}

 /* CAKE PLACE ===========*/
#home{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: flex-end;*/
}

#cake_place {
    width: 70%;
    margin: auto;
    height: 300px;
    border: 3px dotted rgb(231, 190, 204);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px 100px 10px;
}

#decor_list {
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 40px;
}

  /* LOWER PART WITH OPTIONS ====================*/
nav{
    width: 100%;
    background-color: #8A275C;
}

.nav_button{
    background-color: #8A275C;
    color: #F3E6ED;
    width: 33%;
    border: none;
    font-weight: bold;
    outline-color: none;
}

.nav_button:hover{
    background-color: rgb(90, 14, 54);
    cursor: pointer;
}

.nav_button:active{
    background-color: rgb(90, 14, 54);
    border: none;
}

#options{
    width: 100%;
    font-size: 14px;
    line-height: 4vh;
    padding: 15px 0px 0px 15px; 
    text-align: start;
}

.headline{
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 40px;
}

.group {
    position: relative;
    margin-bottom: 30px;
    width: 98%;
  }
  
.group > input {
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 97%;
    border: none;
    border-bottom: 1px solid #ccc;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.group > input:focus {
    outline: none;
}
  /* LABEL ======================================= */
.size {
    color: #999;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
  
/* active state */
input:focus ~ label, input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

button{
    background-color: #8A275C;
    color: #F3E6ED;
    width: 33.3%;
    height: 6vh;
    margin: 1px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

select{
    background-color: #8A275C;
    color: #F3E6ED;
    width: 33.3%;
    height: 6vh;
    margin: 1px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.color{
    width: 10%;
    display: flex;
    position: relative;

}

.inner{
    display: flex;
    position: relative;
}

#decor_list{
    width: 100%;
    position: relative;
    padding: 0;
}

#decor_list > li{
  margin: 3%;
    
}

.destroy{
    width: 25px;
    border-radius: 30%;
}

.item_decor{
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .wrapper{
        margin: auto;
        width: 768px;
    }
}

@media screen and (max-width:375px){
    .wrapper{
        width: 100%;
    }
    .nav_button{
        width: 32%;
    }
}


/* COVERING ============================*/

.cream .fondant .icing .velour{
    border-radius: 2em;
}
  
/* CREAM ================================ */
.cream{
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(29,85,153,0) 26%, rgba(28,84,153,1) 52%, rgba(27,82,153,0) 78%, rgba(26,81,153,1) 99%, rgba(26,81,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(29,85,153,0) 26%,rgba(28,84,153,1) 52%,rgba(27,82,153,0) 78%,rgba(26,81,153,1) 99%,rgba(26,81,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(29,85,153,0) 26%,rgba(28,84,153,1) 52%,rgba(27,82,153,0) 78%,rgba(26,81,153,1) 99%,rgba(26,81,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1a5199',GradientType=0 ); /* IE6-9 */
}

.icing{
    background-image: url('./src/bubble.png');
    background-size: cover;
    width: 50%;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
}

.fondant{
    opacity: .5;
}

.velour{
    background-image: url('./src/grainyBG.png');
    background-size: cover;
    width: 50%;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
}

